/* GENERAL STYLING */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

body {
    background-color: rgb(15, 15, 15);
    background-repeat: no-repeat;
    color: white;
    font-family: "League Spartan", sans-serif;  
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}












/* NAVIGATION BAR */
.nav-bar {

    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(158, 38, 250);

    height: 7vh;
    font-weight: bold;
    display: flex;  
    width:100%;

    position: fixed; 
    opacity: 0.9;

    z-index: 3;
    justify-content: center;
    column-gap: 10vw;
    
} 


.nav-logo{

    height: 100%;
    position: absolute;
    top: 0.5vw;
    left: 2vw;

    font-size: 3vh;
    color: rgb(158, 38, 250);
}


.nav-bar-element{
    /* padding: 0 8vh; */
   
    line-height: 2.7rem;

    white-space: nowrap;
 
    font-size: 25px;

    color: white;

    align-content: center;
    place-content: center;
} 

.nav-bar-element:hover{    
    transition: all 300ms ease-out;
    text-decoration: underline;
    cursor: pointer;
}

.nav-contact-me-button{
    position: absolute;
    left: 89vw;
    top: 20%;
    width: 7vw;
    height: 2.3vw;

    font-size: 1.55vw;
    color:black;
    background-color: rgb(158, 38, 250);
    border-radius: 2vw;

    align-content: center;
    
    text-align: center;
    margin: 0 auto;
}



.nav-contact-me-button:hover{
    background-color: rgb(158, 38, 250);
    color: white;
    transition: all 300ms ease-out;
}





/* LANDING PAGE */

#LANDINGPAGE{
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
    border-color: yellow;
    padding-top: 50px;


}

.info{
    text-align: center;
    margin-top: 7vh;
    width:100%;
    white-space: nowrap;
}

.landing-page-name{
    font-size: 10vw;
    color: rgb(158, 38, 250);
    padding-bottom: 3.5vw;
    text-align: center;

}

.landing-page-content{
    display: flex;
    justify-content: center;
    gap: 5vw;
}

.landing-page-photo img{
    width: 27vw;
    height: 27vw;
    border-radius: 40px;
    object-fit: cover;
}

.landing-page-text{
    margin: 4vh 0;
}



.landing-page-subtitles{
    text-align: center;
    margin-bottom: 3.2vh;
}

.landing-page-subtitles-questions{
    font-size: 2vw;
    margin: 10px 0;
}

.landing-page-subtitles-answers{
    font-size: 2.5vw;
    color: rgb(158, 38, 250);
}


.landing-page-subtitles:last-child {
    margin-bottom: 0vh;
}

#landing-carrer-subtitle{
    margin-bottom: 0vh;
}


.landing-page-transition{
    margin-top: 8vh;
    font-size: 1.5vw;

    text-align: center;
    color: white
} 

.landing-page-transition:hover{
    text-decoration: underline;
    transition: all 300ms ease-out;
} 



/* PAGE PROPERTIES */
.page{
    justify-content: center;
    position: relative;
    text-align: center;
    justify-content: center;

    width: 100%;
}

.page-title{
    text-align: center;
    font-size: 9vw;
    margin-top: 6.5vw;
    margin-bottom: 1.5vw;
    white-space: nowrap; 


    color: rgb(158, 38, 250)
}

.gallery{
    width: 100%;
}

.gallery-container{
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item{
    height: 60%;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 250px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain; 
    object-fit: cover;
}

.gallery-item-1{
    left: 15%;
    opacity: 0.4;
    transform: translateX(-50%);
}

.gallery-item-1 .gallery-item-5{
    /* width: 100px; */
    /* height: 405px; */
}

.gallery-item-2, .gallery-item-4{
    height: 300px;
    opacity: 0.8;
    width: 250px;
    z-index: 1;
}

.gallery-item-2{
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 90%;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 2;
}

.gallery-item-4{
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5{
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}




.gallery-controls{
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button{
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 1.5vw;
    padding: 0 0.5vw;
    text-transform: capitalize;
} 

.gallery-controls-button:focus{
    outline: none;
}

.gallery-controls-previous{
    position: relative;
}

.gallery-controls-previous::before{
    border: solid white;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before{
    left: -40px
}

.gallery-controls-next{
    position: relative;
}

.gallery-controls-next::after{
    
    border: solid white;
    border-width: 0 5px 5px 0;
    content: "";
    display: inline-block;

    
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -20px;
    top: 25;

    
    transform: rotate(-45deg);

    
    transition: right 0.15s ease-in-out;
    width: 5px;
    /* */
} 

.gallery-controls-next:hover::after{
    right: -30px;
}

.gallery-nav{
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery-nav li{
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected{
    background: #555;
} 

.gallery-controls{
    color: white;
}





#ABOUTME{
    height: auto;
    padding-top: 70px;
}

#about-title{
    font-size: 100px;
    color: rgb(158, 38, 250);
    /* margin-bottom: 25px; */
}

.introduction{
    font-size: 28px;
}

.introduction-links{
    text-decoration: underline;
}

.introduction-links:hover{
    color: rgb(158, 38, 250);
    cursor: pointer;
}




/* PROJECTS  */
#CODINGPROJECTS{
    /* background-color: aquamarine; */
    padding-top: 30px;
    
}

#project-title{
    font-size: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.project-type-title{
    font-size: 40px;
    margin: 5vh 0;
}

.project-type-container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    column-gap: 40px;
    justify-content: center;
}

 .project-card-v2-container{
    height: 350px;
    width: 230px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid rgb(158, 38, 250);
    border-radius: 12px;
    transition: 0.3s;
}

.project-card-v2-container:hover{

    border: 2px solid white;
}

.project-card-v2{
    justify-content: center;
    text-align: center;
}

 .project-card-v2 img{
    margin: 0.7em 0;
    border-radius: 10px;
    width: 85%;
    height: 50%;
    object-fit: cover;
    transition: 0.3s;
    border: 2px solid rgb(158, 38, 250);
 }

 .project-card-v2-container:hover .project-card-v2-img{
    border: 2px solid white;
 }

 .project-card-v2-text{
    width: 100%;
    height: 40%;
    padding: 0 0.5em;

    display: grid;
    grid-template-rows: repeat(1fr, 6);
 }

 .project-card-v2-project-title{
    font-weight: bold;
    font-size: 1.2em;

    grid-row: 1/2;

    display: flex;
    align-items: center;
    justify-content: center;
 }

 .project-card-v2-project-description{
    grid-row: 2/6;

    display: flex;
    align-items: center;
    justify-content: center;
 }

 .project-card-v2-project-skills{
    font-style: italic;
    grid-row: 6/7;

    display: flex;
    align-items: center;
    justify-content: center;
 }



#CONTACTME{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-top: 60px;
    background-color: rgb(26, 1, 43);
    padding-bottom: 30px;
}

.contact-title{
    font-size: 60px;
    margin-bottom: 20px;
}

.contact-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

    align-content: center;
    justify-content: center;
}

.contact-me-form{
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}

.contact-spaces{
    width: 90%;
    border-radius: 3px solid green;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;

    gap: 20px 20px;

}


#full-name{
    grid-column: 1/2;
    grid-row: 1/2;
}

#email{
    grid-column: 1/2;
    grid-row: 2/3;
}

#company{
    grid-column: 2/3;
    grid-row: 1/2;
}

.message{
    padding-top: 15px;
    grid-row: 3/4;
    grid-column: 1/3;
}


.contact-spaces button{
    background-color: transparent;
}

.contact-input{
    border-radius: 15px;
    padding-left: 20px;
    font-size: 15px;

    border: 2px solid rgb(158, 38, 250);
    background-color: transparent;
    color: white;
    transition: 0.3s;
}

.submit-form-button{
    grid-row: 4/5;
    grid-column: 1/3;
    width: 175px;
    height: 50px;
    border-radius: 30px;
    color: white;
    margin: 0 auto;
    /* background: linear-gradient(#9e26fa, #9198e5); */
    background-image: linear-gradient(to right, #511f77 , #7909a2);
    font-size: 20px;
    border: none;

    transition: 0.1s;
}


.submit-form-button:hover{
    background-image: linear-gradient(to right,#7909a2, #511f77);
    border: 3px solid white;
}

.contact-input:hover{
    border: 2px solid white;
}

.other-contact-ways{
    width: 30%;
    height: 300px;
    margin-top: 75px;

    

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
}

.contact-links-or-docs{
    border-radius: 15px;
    align-content: center;
    transition: 0.1s;
}

.contacts-subtitles{
    transition: 0.3s;
    font-size: 25px;
    color: rgb(158, 38, 250);
    margin: 10px auto;
}

.contact-links-or-docs:hover{ 
    border: 3px solid white; 
}

.contact-links-or-docs:hover .contacts-subtitles{ 
    color: white;
}

.instagram{
    grid-column: 1/2;
    grid-row: 1/2;
}

.github{
    grid-column: 2/3;
    grid-row: 2/3;
}


@media (width <= 400px) {
    .nav-bar{
        display: none;
    }
    .gallery{
        display: none;
    }
    #project-title{
        font-size: 30px;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }


    #CONTACTME{
        height: 100vh;
    }

    .contact-me-form{
        margin: 0 auto;
    }

    .messenger-info{
        width: 100%;
        height: 40px;
        border-radius: 20px;
        font-size: 15px;
    }

    .message{
        width: 100%;
    }

    .other-contact-ways{
        display: none;
        /* display: flex;
        margin: 0 auto; */
    }


  }