/* GENERAL STYLING */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    font-family: NewTitle-Variable, "Avenir Next Condensed",'Radio Canada Big','Oswald','Kanit', sans-serif;   
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}












/* NAVIGATION BAR */
.nav-bar {
    background-color: rgb(1, 1, 1);
    color: white;

    font-size: 0.9rem;
    font-size: 2rem;
    font-weight: bold;

    height: 8vw;
    box-shadow: 3px 4px 3px white;
    display: flex;  

    width:100%;
    position: fixed;
    opacity: 0.9;

    z-index: 3;
    justify-content: center;
    font-family: "League Spartan", sans-serif;
}


.nav-logo{
    
    justify-content: center;
    font-family: "League Spartan", sans-serif;
    font-size: 3.6vw;
    color: rgb(158, 38, 250);

    height: 100%;

    position: absolute;
    top: 0.5vw;
    left: 2vw;
}

.nav-bar-element{
    padding: 0 3.5vh;
    line-height: 2.7rem;

    white-space: nowrap;
 
    font-size: 1.9vw;

    color: white;

    align-content: center;
    place-content: center;
}

.nav-bar-element:hover{
    /* background-color: white;
    color: black; */
    
    transition-duration: 700ms;
    text-decoration: underline;
}

.nav-contact-me-button{
    position: fixed;
    top: 1.2vw;
    left: 89vw;
    width: 9vw;
    height: 3vw;

    font-size: 1.55vw;
    color: black;
    background-color: white;
    border-radius: 2vw;

    align-content: center;
    
    text-align: center;
    margin: 0 auto;
}

.nav-contact-me-button:hover{
    background-color: rgb(158, 38, 250);
    color: white;
    transition: all 300ms ease-out;
}




@media (max-width: 1500px) {

    .nav-bar {
        font-weight: bold;
        height: 9.5vw;
    }

    .nav-bar-element{
        font-size: 2.7vw;
        padding: 0 3.5vw;
    }

    .nav-logo{
        font-size: 4.1vw;    
        height: 100%;
    }

    .nav-contact-me-button{
        top: 2.5vw;
        left: 86.5vw;

        width: 12vw;
        height: 4vw;
        font-size: 2vw;
    }
}


@media (max-width: 600px) {

    .nav-logo{

        font-size: 4vw;
    }

    .nav-bar {
    
        font-size: 0.9rem;
        font-size: 2rem;
        font-weight: bold;
    
        height: 9.5vw;
        box-shadow: 3px 4px 3px white;
    
    }

    .nav-bar-element{
        font-size: 3.4vw;
        padding: 0 3vw;
    }

    .nav-contact-me-button{
        display: none;
    }
}







/* LANDING PAGE */

#LANDINGPAGE{
    height: auto;
}


.info{
    text-align: center;
    height: 100vh;

    padding-top: 30vh;
    width:100%;
    white-space: nowrap;
}

.landing-page-name{
    font-size: 11vw;
    color: rgb(158, 38, 250);
    padding-bottom: 3.2vw;
}

.landing-page-subtitles{
    text-align: center;
    font-size: 2rem;
    font-size: 3vw;
}

.landing-page-greeting{
    /* text-align: center;
    font-size: 1.5vw;

    color: rgb(158, 38, 250); */
    display: none;

}


/* PAGE PROPERTIES */
.page{
    padding-top: 1vw;
    justify-content: center;
    position: relative;

    border: 1px solid black;

    width: 100%;
}

.page-title{
    text-align: center;
    font-size: 9vw;
    margin-top: 6.5vw;
    margin-bottom: 1.5vw;
    white-space: nowrap; 


    color: rgb(158, 38, 250)
}

@media (max-width: 1500px) {
    
    .landing-page-name{
        font-size: 15vw;
        color: rgb(158, 38, 250);
    }

    .landing-page-subtitles{
        text-align: center;
        font-size: 3.5vw;
    }

}



@media (max-width: 1100px) {

    .info{
        text-align: center;
        height: 100vh;
    
        padding-top: -13vw;
        width:100%;
        white-space: normal;
        word-wrap: break-word
    }


    .landing-page-name{
        font-size: 20vw;
        width: 100%;
        
        display: inline-block;
        margin-bottom: 0vw;
        
    }

    .landing-page-subtitles{
        font-size: 4vw;
    }
    .landing-page-greeting{
        font-size: 3vw;
    }

    .page-title{
        font-size: 13vw;
    }
}






#ABOUTME{
    /* background-color: rgb(158, 38, 250);  */
    height: auto;
    /* background-color: white; */
}


.about-me-image{
    width: 30%;
    height: 35vw;
    object-fit: cover;
    object-position: left;
    background-image: red;
    border-radius: 15px;

}


.about-me-face-info-container{
    width: 90%;
    display: flex;
    margin: 0 auto;
    border-radius: 1vw;
    gap: 1rem;

}


.about-text{

    background-color: rgb(158, 38, 250);
    color: white;

    height: 35vw;
    width: 70%;

    border: 2px solid rgb(158, 38, 250);
    border: none;
    border-radius: 1vw;

    text-align: center;
    position: relative;
}



.about-text-title{
    font-size: 4vw;
    margin-top: 3vw;
    margin-bottom: 1vw;
}

.about-text-description{
    font-size: 1.9vw;
}

.about-file-links{

    margin: 0 auto;
    margin-top: 2vw;
    display: grid;
    width: 37vw;
}

.about-button{
    display: inline-block;
    border-radius: 2vw;

    font-size: 1.5vw;
    height: 4vw;
    width: 17vw;
    

    font-weight: bold;

    text-align: center;
    justify-content: center;
    place-content: center;


    margin: 0 auto;
}

.resume{
    background-color: rgb(158, 38, 250);
    color: white;
    border: 2px solid white;

    grid-column: 1/2;
}

.transcript{
    border: 2px solid rgb(158, 38, 250);
    background-color: white;
    color: rgb(158, 38, 250);
    grid-column: 2/3;
}

.resume:hover{
    color: rgb(158, 38, 250);
    background-color: white;
    border: 2px solid  rgb(158, 38, 250);
    transition-duration: 300ms;
}

.transcript:hover{
    background-color: whitesmoke;
}

.current-employer{
    text-decoration: underline;
}

.current-employer:hover{
    color: black;
    transition: 200ms;
}

@media (max-width: 1100px) {
    /* #ABOUTME{
        height: 100vh;
    } */
}


@media (max-width: 800px) {

    #ABOUTME{
        /* background-color: white; */
        height: 100vw;
    }

    #ABOUTME h1{
        /* color: black; */
        font-size: 15vw;
    }

    .about-me-face-info-container{

        height: auto;
        width: 90%;
        background-color: rgb(158, 38, 250);


        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;

        grid-template-areas:
        "text image"
        "text text";


        margin: 0 auto;
        border-radius: 0;

        /* border: 2px solid white; */
        border-radius: 2vw;
    }

    .about-file-links{
        position: absolute;
        top: 50vw;
        left: 2vw;
        gap: 3vw;
    }

    .about-button{
        width: 40vw;
        height: 10vw;

        font-size: 3.5vw;
        border-radius: 6vw;
    }



    .about-text{

        background-color: inherit;
        grid-column: 1/2;
        grid-row: 1/1;

        justify-content: center;

        /* background-color: white; */
        width: 100%;
        padding-left: 2vw;
        
    }



    .about-me-image{
        border-radius: 50%;
        object-fit: cover;

        grid-column: 2/3;
        grid-row: 1/1;
        width: 30vw;
        height: 30vw;

        margin: 20% auto;
        padding-right: 2vw;
    }


    .about-text br{
        display: none;
    }

    .about-text-title{
        font-size: 6vw;
        margin-bottom: 0vw;
    }

    .about-text-description{
        font-size: 3vw;
        font-size: 3.5vw;
        font-weight: 600;
    }
    
}


















/* COURSWORK PAGE */

#COURSEWORK{
    /* background-color: rgb(158, 38, 250); */
    z-index: -2;
    height: auto;
}

.coursework-info{
    justify-content: center;
    align-items: center;
    text-align: center; 
    position: relative;
    z-index: 2;
}

ul{
    list-style-type: none;
}

#COURSEWORK{
    height: 75vw;
    z-index: 2;
    /* display: block; */
}

.courses-container{
    gap: 0.5vw;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(30, 1fr);
}

.course-item{
    font-size: 3.2vw;
    font-weight: 500;
    text-align: center;


    background-color: inherit;
    color: white;
    border: 2px solid rgb(158, 38, 250);
    border-radius: 3vw;

    height: 5vw;
    
    margin-bottom: 1vw;
    padding: 0 3vw;

    place-content: center;
}

.course-item:hover{
    /* background-color: rgb(158, 38, 250); */
    border-color: white;
    font-weight: 400;
    transition-duration: 500ms;
}

.list-of-courses{
   display: grid;
   width: 95%;
   margin: 0 auto;
   justify-content: center;
   grid-template-rows: repeat(3, 1fr);

}

.type-of-courses{
    margin-bottom: 3vw;
    
    text-align: center;
    font-size: 6vw;
}

#junior-year .course-item:nth-child(1){
    /* background-color: red; */
    grid-column: 1/7;
}
#junior-year .course-item:nth-child(2){
    /* background-color: blue; */
    grid-column: 7/21;
}
#junior-year .course-item:nth-child(3){
    /* background-color: green; */
    grid-column: 21/30;
}



#sophmore-year .course-item:nth-child(1){
    /* background-color: red; */
    grid-column: 1/12;
}
#sophmore-year .course-item:nth-child(2){
    /* background-color: blue; */
    grid-column: 12/20;
}
#sophmore-year .course-item:nth-child(3){
    /* background-color: green; */
    grid-column: 20/30;
}


#freshman-year .course-item:nth-child(1){
    /* background-color: red; */
    grid-column: 1/7;
}
#freshman-year .course-item:nth-child(2){
    /* background-color: blue; */
    grid-column: 7/23;
}
#freshman-year .course-item:nth-child(3){
    /* background-color: green; */
    grid-column: 23/30;
}

.alone{
    grid-column: 5/25;
}







@media (max-width: 800px) {

    /* .coursework-info h1{
        font-size: 12vw;
    }

    .courses-container{
        display: block;
    }

    .year-name{
        color: red;
        font-size: 3vw;
        grid-column: 1/2;
        text-align: right;
        font-style: normal;
        font-weight: bold;
    } */
}











/* PROJECTS  */
#CODINGPROJECT{
    background-color: aquamarine;
    height: auto;
    width: 100%;
}



.project-type-container{
    width: 80%;
    height: 100%;
    margin: 0 auto;

    /* display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    gap: 4vw 1vw;
    display: block;
}

.project-type-title{
    color: rgb(158, 38, 250);
    font-size: 4vw;
    text-shadow: 2px 2px 10px black;
    margin-bottom: 3vw;
    margin-left: 4vw;
}

.project{
    display: flex;
    width: 100%;
    margin-bottom: 4vw;
}


.project-card{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    width: 58%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, .3);
    border: 1px solid rgb(158, 38, 250);
}

.project-card:hover{
    background-color: rgb(158, 38, 250);
    color: white;
    border-color: white; 
    height: 100%; 

    transition-duration: 600ms;
}

.project-card:hover .project-card-title{
    color: white;
}

.project-card:hover .project-card-text{
    /* width: 99%; */

    /* width: 100%; */
    /* padding-left: 2vw;
    padding-right: 1vw; */
    /* background-color: rgba(0, 0, 0, 0.1) ; */


    /* transition: background-color 600ms, width 600ms; */
}

/* .project-card:hover .project-card-image{
    width: 1%;
} */



.project-card-image{
    width: 40%;
    height: 100%;
    

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-color: white;

    object-fit: cover;
    object-position: top;
}

.project-card-text{
    width: 60%;
    height: 100%;
    padding-left: 2vw;
    padding-right: 1vw;
    background-color: rgba(0, 0, 0, 0.1) red;
}

.project-card-title{
    color: rgb(158, 38, 250);
    padding-top: 1vw;
    font-size: 2.5vw;
}

.project-card-description{
    line-height: 2vw;
    font-size: 1.6vw;
}

.project-skills{

    width: 42%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

#first-project-skills img{
    width: 25%;
}

#second-project-skills img{
    width: 25%;
}

#third-project-skills img{
    width: 25%;
}

.project-skills-used-header{
    font-size: 2vw;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2vw;
}

@media (max-width: 800px) {
    .page-title{
        font-size: 15vw;
    }

    .project-type-container{
        width: 90%;
        /* height: 100%; */
        margin: 0 auto;
        display: block;
    }

    .project-type-title{
        font-size: 7vw;
    }


    .project-card{
        display: flex;
        width: 90%;
        /* margin: 10vw 5vw; */
        margin-top: 0vw;
        margin-bottom: 5vw;
        width: 90%;
    }

    .project-card-title{
        font-size: 5.2vw;
        margin-bottom: 1vw;
    }

    .project-card-description{
        font-size: 3.5vw;
        line-height: 3.9vw;
    }

    .project-skills{
        display: none;
    }

}


/* 
@media (max-width: 600px) {

    #project-title{
        font-size: 15vw;
    }
} */



#CONTACTME{
    width: 100%;
    height: auto;

    background-color: rgb(158, 38, 250);
}

.contact-thank{
    width: 100%;
    text-align: center;
}

.contact-title{
    font-size: 7vw;

    text-shadow: 2px 4px 5px black;
}

.contact-thanks-text{
    font-size: 2.5vw;
}

.contact-links{
    text-align: center;
    justify-content: center;

    display: flex;
    gap: 2vw
}


.icons{
    width: 4vw;
    height: 4vw;
    filter: brightness(0) invert(1);
}


@media (max-width: 800px) {

    #CONTACTME{
        height: 35 vw;
        }

    .contact-thanks-text{
        font-size: 4vw;
    }

    .icons{
        width: 7vw;
        height: 7vw;
    }

    .coursework-info h1{
        font-size: 15vw;
    }
}



